.email-form {
    position: relative;
    background: $white;
    display: inline-flex;
    border-radius: $border-radius;

    &__input {
        font-size: 18px;
        margin: 16px 27px;
        border: none;
        resize: none;
        overflow: hidden;
        width: 440px;

        @media (max-width: 1919px) {
            font-size: 14px;
            margin: 10px 20px;
            width: 360px;
        }

        @media (max-width: 767px) {
            width: 280px;
        }
    }

    &__btn {
        width: 43px;
        height: 43px;
        position: absolute;
        right: 0;
        background: $red;
        margin: 8px;
        border-radius: $border-radius;

        @media (max-width: 1919px) {
            width: 33px;
            height: 33px;
            margin: 4px;
        }

        .arrow {
            top: -3px;
            left: 0;
        }
    }
}
