.timer {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 72px;
    
    @media (max-width: $tablet) {
        margin: 40px 0;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-right: 20px;

            @media (max-width: $tablet) {
                margin-right: 34px;
            }

            @media (max-width: $mobile) {
                margin-right: 18px;
            }
        }

        &:not(:last-child):after {
            position: absolute;
            right: -25px;
            font-weight: 600;
            font-size: 72px;
            line-height: 100%;
            color: $blue;
            content: ":";

            @media (max-width: $tablet) {
                font-size: 36px;
            }
            
            @media (max-width: $mobile) {
                right: -20px;
            }
          }
    }

    &__number { 
        font-weight: 600;
        font-size: 72px;
        line-height: 100%;
        color: $blue;

        @media (max-width: $tablet) {
            font-size: 36px
        }
    }

    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 132px;
        height: 54px;
        line-height: 100%;
        color: $white;
        background: url(../../img/background__timer.png) center no-repeat;
        background-size: 100% 100%;

        @media (max-width: $tablet) {
            width: 64px;
            height: 40px;
        }
    }
}
