@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  margin-bottom: 93px;
}

@media (max-width: 1919px) {
  .header {
    margin-top: 100px;
    margin-bottom: 166px;
  }
}

@media (max-width: 767px) {
  .header {
    margin-top: 80px;
    margin-bottom: 66px;
  }
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
  margin-bottom: 72px;
}

@media (max-width: 1919px) {
  .timer {
    margin: 40px 0;
  }
}

.timer__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timer__item:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 1919px) {
  .timer__item:not(:last-child) {
    margin-right: 34px;
  }
}

@media (max-width: 767px) {
  .timer__item:not(:last-child) {
    margin-right: 18px;
  }
}

.timer__item:not(:last-child):after {
  position: absolute;
  right: -25px;
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  color: #162C4E;
  content: ":";
}

@media (max-width: 1919px) {
  .timer__item:not(:last-child):after {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .timer__item:not(:last-child):after {
    right: -20px;
  }
}

.timer__number {
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  color: #162C4E;
}

@media (max-width: 1919px) {
  .timer__number {
    font-size: 36px;
  }
}

.timer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 132px;
  height: 54px;
  line-height: 100%;
  color: #FFFFFF;
  background: url(../../img/background__timer.png) center no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 1919px) {
  .timer__text {
    width: 64px;
    height: 40px;
  }
}

.btn {
  display: inline-block;
  margin-top: 12px;
  padding: 16px 41px 17px 28px;
  color: #fff;
  background: #1D4169;
  border-radius: 40px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 76px;
}

@media (max-width: 1919px) {
  .main {
    margin-bottom: 169px;
  }
}

@media (max-width: 767px) {
  .main {
    margin-bottom: 86px;
  }
}

.main__title {
  margin-bottom: 8px;
}

@media (max-width: 1919px) {
  .main__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .main__title {
    margin-bottom: 16px;
  }
}

.main__subtitle {
  max-width: 423px;
  margin: 0 auto;
}

@media (max-width: 1919px) {
  .main__subtitle {
    max-width: 286px;
  }
}

.email-form {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #FFFFFF;
  border-radius: 40px;
}

.email-form__input {
  width: 440px;
  margin: 16px 27px;
  font-size: 18px;
  border: none;
  resize: none;
  overflow: hidden;
}

@media (max-width: 1919px) {
  .email-form__input {
    width: 360px;
    margin: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .email-form__input {
    width: 280px;
  }
}

.email-form__btn {
  position: absolute;
  right: 0;
  width: 43px;
  height: 43px;
  margin: 8px;
  background: #DF2224;
  border-radius: 40px;
}

@media (max-width: 1919px) {
  .email-form__btn {
    width: 33px;
    height: 33px;
    margin: 4px;
  }
}

.email-form__btn .arrow {
  top: -3px;
  left: 0;
}

.footer {
  padding: 60px 0;
  background-color: #162C4E;
}

@media (max-width: 1919px) {
  .footer {
    padding: 59px 0;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 50px 0;
  }
}

.modal {
  position: fixed;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(22, 44, 78, 0.6);
  cursor: pointer;
}

.popap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 370px;
  padding: 97.47px 16px 69.62px 24px;
  background: #FFFFFF;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: default;
}

.popap__close {
  position: absolute;
  top: 24px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.popap__close::before {
  position: absolute;
  top: 11px;
  right: -4px;
  display: block;
  width: 32px;
  height: 2px;
  background: rgba(19, 89, 120, 0.5);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  content: '';
}

.popap__close::after {
  position: absolute;
  top: 11px;
  right: -4px;
  display: block;
  width: 32px;
  height: 2px;
  background: rgba(19, 89, 120, 0.5);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: '';
}

.popap__title {
  margin-bottom: 28.84px;
  font-weight: 700;
  font-size: 36px;
  line-height: 104%;
  color: #162C4E;
  text-transform: uppercase;
}

.popap__text {
  font-size: 16px;
  line-height: 150%;
}

.popap__btn {
  margin-top: 29.84px;
  padding: 16px 73px 16.68px 74px;
  font-family: 'Poppins';
  font-size: 18px;
  color: #FFFFFF;
  background: #1D4169;
  border-radius: 40px;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Poppins';
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1919px) {
  body {
    font-size: 16px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 360px;
  min-height: 100vh;
  background: url(../../img/body/background__body_left_big.png) top left no-repeat, url(../../img/body/background__body_right_big.png) top right no-repeat;
}

@media (max-width: 1919px) {
  .container {
    background: url(../../img/body/background__body_left_med.png) top left no-repeat, url(../../img/body/background__body_right_med.png) top right no-repeat;
  }
}

@media (max-width: 767px) {
  .container {
    background: url(../../img/body/background__body_left_small.png) top left no-repeat, url(../../img/body/background__body_right_small.png) top right no-repeat;
  }
}

h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 104%;
  text-transform: uppercase;
  color: #162C4E;
  opacity: 0.39;
}

@media (max-width: 1919px) {
  h1 {
    font-size: 36px;
  }
}

a:hover,
button:hover {
  opacity: 0.7;
}

.open {
  display: block;
}

.logo {
  width: 190px;
  height: 60px;
}

@media (max-width: 767px) {
  .logo {
    width: 128px;
    height: 40px;
  }
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  width: 100%;
  height: 100%;
}

.arrow {
  position: relative;
  top: -5px;
  left: 20px;
  display: inline-block;
  width: 15px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 40px;
}

.arrow::before {
  position: absolute;
  top: -3.5px;
  right: -2px;
  width: 12px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
}

.arrow::after {
  position: absolute;
  top: 3.5px;
  right: -2px;
  width: 11px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  content: "";
}

.cross {
  width: 24px;
  cursor: pointer;
}

.cross::before {
  position: absolute;
  top: 10px;
  display: block;
  width: 32px;
  height: 2px;
  background: rgba(19, 89, 120, 0.5);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  content: '';
}

.cross::after {
  position: absolute;
  top: 10px;
  display: block;
  width: 32px;
  height: 2px;
  background: rgba(19, 89, 120, 0.5);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: '';
}
/*# sourceMappingURL=style.css.map */